@import '../../../styles/mixin.scss';


.sidenav-list span {
  padding-left: 15px;

}
.sidenav-list:active{
  @include selected-style;

      .text {
        color:white
      }
      mat-icon {
        color: white;
      }
}
    mat-nav-list{
      width: 250px;
    }
    .sidenav-container {
      background-color: white;
      text-align: right;
    }
