@import '~@angular/material/theming';




$app-primary: (
  50 : #e0efed,
  100 : #b3d7d3,
  200 : #80bcb5,
  300 : #4da197,
  400 : #268d81,
  500 : #00796b,
  600 : #007163,
  700 : #006658,
  800 : #005c4e,
  900 : #00493c,
  A100 : #7dffe1,
  A200 : #4affd6,
  A400 : #17ffca,
  A700 : #00fcc3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-accent: (
  50 : #fff4e0,
    100 : #ffe3b3,
    200 : #ffd080,
    300 : #ffbd4d,
    400 : #ffae26,
    500 : #ffa000,
    600 : #ff9800,
    700 : #ff8e00,
    800 : #ff8400,
    900 : #ff7300,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd8bf,
    A700 : #ffc9a6,
  contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
  )
);






@include mat-core();

$primary:       mat-palette($app-primary, 200);
$accent:        mat-palette($app-accent, 400);
$warn:          mat-palette($mat-deep-orange);
$App-theme:   mat-light-theme($primary, $accent, $warn);




@include angular-material-theme($App-theme);
