<mat-sidenav-container >

  <mat-sidenav #sidenav>
      <app-sidenav (closeSideNavigation)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="header">
        <app-header (SideNavigationToggle)="sidenav.toggle()"></app-header>
      </div>
      <div class="tabs">
        <app-navtabs></app-navtabs>
      </div>


      <main class="content">
        <router-outlet></router-outlet>
      </main>

      <footer class="footer">
        <app-footer></app-footer>
      </footer>
   </mat-sidenav-content>

</mat-sidenav-container>












