@import '../styles/mixin.scss';


mat-sidenav-container {
    @include container-flex-column;

    mat-sidenav-content{
      @include container-flex-column;
        .content {
          flex: 1;
        }
        .header {
           @include primary-background-color ;
           padding: 30px ;
           color: white;
        }
        .tabs{
          background-color: map-get($accent, 800);
          color: white;
        }
    }
    .footer {
      @include footer;
      padding: 50px ;
      color: white;
  }
}


