<div class="navtabs-container"  >
  <nav mat-tab-nav-bar  fxFlex fxLayout fxLayoutAlign="center center"  mat-align-tabs [fxHide.sm]="true"  [fxShow.md]="true"  [fxHide.xs]="true">
    <span class='toolbar-flex' ></span>
              <a mat-tab-link routerLink="#" class="link"
                 [routerLinkActive]="activeClass"
                ><mat-icon style="margin: 8px;">home</mat-icon>
                <label class="text">Home</label>
              </a>



        <span class='toolbar-flex'></span>
  </nav>
</div>
